<div class="row p-0 align-items-center">
  <div class="col-md-4 ms-5">
    <div class="row ms-2">
      <div class="col-md-auto">
        <app-typo data="SPORTS CENTER" fontSize="5rem" fontWeight="bold" fontFamily="Barlow Condensed"></app-typo>
      </div>
    </div>
    <div class="row ms-2">
      <div class="col-md-auto">
        <app-typo data="El centro deportivo que buscas en tu ciudad con todo lo que necesitas para ponerte en forma"
                  fontSize="2.3rem" fontWeight="normal" fontFamily="Montserrat"></app-typo>
      </div>
    </div>
    <div class="row ms-2 mt-5">
      <div class="col-md-auto">
        <a routerLink="/register">
          <app-button fontFamily="Montserrat" textColor="#000000" backgroundColor="#FFC286"
                      buttonText="Regístrate ahora"
                      buttonWidth="15vw" fontSize="1.5rem"></app-button>
        </a>
      </div>
    </div>
    <div class="row ms-2 mt-3">
      <div class="col-md-auto">
        <a routerLink="/login">
          <app-typo style="text-decoration-line: underline; text-decoration-color: #999999; cursor: pointer"
                    data="O inicia sesión si ya perteneces a la familia" fontSize="1.5rem" fontWeight="normal"
                    fontColor="#999999" fontFamily="Montserrat"></app-typo>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-7 align-items-center align-self-center">
    <img class="image" src="assets/home_image.jpg" alt="Home image">
  </div>
</div>
