.content {
  height: 100vh;
  background-color: #B4C6A6;
}

.centeredRow {
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  width: 100%
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15vw;
}

.loginAsset {
  width: 100%;
  height: auto;
}

.whiteCard {
  background-color: #FFFFFF;
  border-radius: 20px;
}
