<div class="container-fluid content">
  <a routerLink="/">
    <img class="logo" src="assets/logo.png" alt="Application logo">
  </a>
  <div class="row justify-content-center align-items-center centeredRow">
    <div class="col-md-4">
      <img class="loginAsset" src="assets/login_sport.png" alt="Sports image">
    </div>
    <div class="col-md-4">
      <div class="whiteCard">
        <div class="row mt-4 justify-content-center align-items-center">
          <div style="text-align: center" class="col-md-10">
            <app-typo data="Inicio de sesión"
                      fontSize="3.5rem" fontWeight="bold" fontFamily="Barlow Condensed"></app-typo>
          </div>
        </div>
        <div class="row justify-content-center align-items-center">
          <div style="text-align: center" class="col-md-10">
            <app-typo data="Por favor, introduce tus creedenciales de acceso para acceder a la aplicación"
                      fontSize="1.2rem" fontWeight="normal" fontFamily="Montserrat" fontColor="#82888C"></app-typo>
          </div>
        </div>
        <div class="row mt-5 justify-content-center align-items-center">
          <div class="col-md-10">
            <app-input title="Dirección de correo" name="Dirección de correo" width="100%" type="email"
                       placeholder="johndoe@example.com"></app-input>
          </div>
        </div>
        <div class="row mt-3 justify-content-center align-items-center">
          <div class="col-md-10">
            <app-input title="Contraseña" name="Contraseña" width="100%" type="password"
                       placeholder="*********"></app-input>
          </div>
        </div>
        <div class="row mt-4 justify-content-center align-items-center">
          <div class="col-md-10">
            <app-button fontFamily="Montserrat" textColor="#000000" backgroundColor="#FFC286"
                        buttonText="Iniciar sesión"
                        buttonWidth="100%" fontSize="1.2rem"></app-button>
          </div>
        </div>
        <div class="row mt-4 justify-content-center align-items-center">
          <div style="text-align: center" class="col-md-auto">
            &#8212;&#8212;&#8212;&#8212;&nbsp;<app-typo data="Mantente al día con nuestras publicaciones"
                                                        fontSize="1rem" fontWeight="bold" fontFamily="Montserrat"
                                                        fontColor="#000000"></app-typo>&nbsp;&#8212;&#8212;&#8212;&#8212;
          </div>
        </div>
        <div class="row mt-4 mb-4 justify-content-center align-items-center">
          <div style="text-align: center; display: flex; justify-content: space-evenly" class="col-md-5">
            <i class="fa-solid fa-hashtag" style="font-size: 2rem; cursor: pointer"></i>
            <i class="fa-solid fa-thumbs-up" style="font-size: 2rem; cursor: pointer"></i>
            <i class="fa-solid fa-envelope" style="font-size: 2rem; cursor: pointer"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <img class="loginAsset" src="assets/login_sport_2.png" alt="Sports image">
    </div>
  </div>
</div>
