<div class="container" id="resumenproducto">
  <div class="container-fluid">
    <div class="row d-flex justify-content-between">
      <div class="col-md-2 mt-3">
        <div class="row">
          <div class="col-md-auto">
            <img id="foto" src={{photo}}>
          </div>
        </div>
      </div>
      <div class="col-md-auto mt-3">
        <div class="row">
          <div class="col-md-auto"><app-typo data={{title}} [fontSize]="'2'" [fontColor]= "'black'" [fontFamily]="'Helvetica'" [fontWeight]="'bold'"></app-typo></div>
        </div>
        <div class="row">
          <div class="col-md-auto"><app-typo [data]="'P.V.P:'" [fontSize]="'1'" [fontColor]="'black'" [fontFamily]="'Helvetica'" [fontWeight]="'normal'"></app-typo></div>
          <div class="col-md-auto"><app-typo data= "{{price}} €" [fontSize]="'1'" [fontColor]="'black'" [fontFamily]="'Helvetica'" [fontWeight]="'normal'"></app-typo></div>
        </div>
        <div class="row">
          <div class="col-md-auto"><app-typo [data]="'Cantidad:'" [fontSize]="'1'" [fontColor]="'black'" [fontFamily]="'Helvetica'" [fontWeight]="'normal'"></app-typo></div>
          <div class="col-md-auto"><app-typo data="x {{quantity}}" [fontSize]="'1'" [fontColor]="'black'" [fontFamily]="'Helvetica'" [fontWeight]="'normal'"></app-typo></div>
        </div>
      </div>
      <div class="col-md-2 align-self-end">
        <app-button fontSize="13px"
                   fontFamily="Arial, sans-serif"
                   textColor="white"
                   backgroundColor="#66806A"
                   buttonHeight="2rem"
                   buttonWidth="4.5rem"
                   (click)="onClick.emit()"
                   buttonText="Eliminar"></app-button>
      </div>
    </div>
  </div>
</div>
